#slogan{
	margin-left: 10%;
}

#description {
	font-style: italic;
	padding: 100px;
}

.ui.image {
	margin: 150px auto;
	left: 400px;
}

#service {
	margin: 180px;
	font-size: 20px;
	left:20px;
}

#logo{
	width: 300px;
	height: 40px;
}
